body {
    font-family: Arial, sans-serif;
    background-color: #f3d3e3;
    margin: 0;
    padding: 0;
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxs3yPy8OFB5haIFBpBUCgb5FZUSpx9eIgLw&s');
}


.container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: maroon;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: black;
}
